snippet date "Add Date"
`date`
endsnippet

snippet email "Add Email"
Email: ${1:MYRon_TO@outlook.com}
endsnippet

snippet tree "show directory tree" b
`tree`
endsnippet

snippet figlet "Add some BIG TITLE" b
`figlet ${VISUAL}`
endsnippet
