#
*.swp
.DS_Store
# 
/lua/plugins/colorscheme.lua
/lua/plugins/indent.lua
/init_nvim/IsFirst
/node_modules/*
/package.json
/unused/*
/unused/README.md
lazy-lock.json
/lua/patchs/patchs.lua
/project_manager.json
/live-server
project_manager.json
