#
*.swp
.DS_Store
# 
/lua/plugins/colorscheme.lua
# /lua/plugins/indent.lua
# /lua/plugins/lualine.lua
# /lua/plugins/scorllbar.lua

/init_nvim/IsFirst
/node_modules/*
/package.json
/unused/*
/unused/README.md
lazy-lock.json
/lua/patchs/patchs.lua
/live-server
project_manager.json
/project_manager.json
